<!DOCTYPE html>
<html>
<head>
<title>L'oubli - E-archive</title>
<!-- Inclure les fichiers externes-->
<link type="text/css" rel="stylesheet" href="/css/style.css"/>
<link type="text/css" rel="stylesheet" href="/css/font.css"/>
<link href="/dist/css/lightbox.css" rel="stylesheet">
</head>
<body>
    <div class='menu' id='return'>
        <ul>
            <li><a href="index.html">retour</a></li>
        </ul>
    </div>
    <div class="vertical_home vertical_home_left"><div class="line"></div>G<br>A<br>L<br>E<br>R<br>I<br>E</div>
    <div class='corps' id='galerie'>
        <div class="images-container"></div>
        <div class="bottom-div">
            <div id="loadLess">
                <p style="opacity:0;"><a>moins</a></p>
            </div>
            <div class="vertical_line">
                <div class="line"></div>
            </div>
            <div id="loadMore">
                <p><a>plus</a></p>
            </div>
        </div>
    </div>
    <script type="text/template" id="imagesTemplate">
        <div class="images">
            <ul class="ul-container">
            <% for(var i=0; i < cards.length; i++) { %>
               <li class="image">
                   <% console.log(i, cards[i]._id); %>
                   <!--a class="example-image-link" href="/image/<%= cards[i]._id %>" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
                       <img class="example-image" src="/image/<%= cards[i]._id %>" alt=""/>
                   </a-->
                   <p><img src="/image/<%= cards[i]._id %>" /></p>
                    <div class="image-info-container"></div>
                    <div class="image-text-right">
                    <div class="text-right-bkg"></div>
                        <a class="example-image-link" href="/image/<%= cards[i]._id %>" data-lightbox="example-set<%= cards[i]._id %>" data-title="<%= cards[i].name %>" data-description="<%= cards[i].phrase %>">
                            <div class="message">
                                <div class="cross-container">
                                    <div id="cross">
                                    </div>
                                </div>
                                    <!--div class="text">
                                        <h4><%= cards[i].name %></h4>
                                        <p><%= cards[i].phrase %></p>
                                    </div-->
                            </div>
                        </a>
               </li>
            <% } %>
            </ul>
        </div>
    </script>
    <style type="stylesheet">

    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.4/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.11.2/lodash.min.js"></script>
    <script src="../dist/js/lightbox.js"></script>
    <!--script type="text/javascript">

        var pageIds = [-1];
        var imagesPerPage = 6;
        $(function()
        {
            var imagesTemplate = _.template($('#imagesTemplate').html());

            function updateLoadPageLinks(data) {
                //Première page, cacher loadLess
                if (pageIds.length === 1) {
                    $('#loadLess p').hide();
                }
                //Afficher loadLess
                else {
                    $('#loadLess p').show();
                }

                //Dernière page, cacher loadMore
                if (!data.length || data.length < imagesPerPage) {
                    $('#loadMore p').hide();
                }
                //Afficher loadMore
                else {
                    $('#loadMore p').show();
                }
            }

            function loadPage(id, cb)
            {
                //Afficher le loading
                TweenMax.fromTo($('#loading'), 0.2, {
                    alpha: 0
                }, {
                    alpha: 1
                });

                //Afficher un loading
                $.getJSON('/images/page/'+imagesPerPage+'/'+id, function(data)
                {
                    //Cacher le loading (attend le load des images si il y a des nouvelles données)
                    var tweenLoading = TweenMax.to($('#loading'), 0.2, {
                        alpha: 0
                    });

                    //S'il y a des données
                    if(data.length)
                    {
                        var html = imagesTemplate({
                            cards: data
                        });
                        var $imagesPage = $(html);
                        $('.images-container').append($imagesPage);

                        var $imagesPages = $('.images-container .images');
                        var pagesCount = $imagesPages.length;
                        var timeline = new TimelineMax({
                            paused: true
                        });

                        timeline.add(tweenLoading);

                        if(pagesCount > 1)
                        {
                            timeline.staggerTo($imagesPages.eq(0).find('.image').toArray(), 0.2, {
                                alpha: 0,
                                onComplete: function()
                                {
                                    $imagesPages.eq(0).remove();
                                }
                            }, 0.1);
                        }
                        timeline.staggerFromTo($imagesPages.eq(pagesCount-1).find('.image').toArray(), 0.2, {
                            alpha: 0,
                            scale: 0.2
                        }, {
                            alpha: 1,
                            scale: 1
                        }, 0.1);

                        //Démarre l'animation seulement si toutes les images sont chargées
                        var loadingCount = $imagesPage.find('img').length;
                        var loadedCount = 0;
                        $imagesPage.find('img').on('load', function()
                        {
                            loadedCount++;
                            if(loadingCount === loadedCount)
                            {
                                timeline.play();
                            }
                        });

                        //TweenMax.to($('#allo'), 0)
                    }
                    else
                    {
                        if($('.images-container .images').length)
                        {
                            alert('Vous êtes arrivé à la fin');
                        }
                        else
                        {
                            alert('Il n\'y a pas encore d\'image');
                        }
                    }

                    updateLoadPageLinks(data);

                    if(typeof(cb) !== 'undefined')
                    {
                        cb(data);
                    }
                });
            }

            function loadNextPage()
            {
                var id = pageIds[pageIds.length-1];
                loadPage(id, function(data)
                {
                    if(data.length)
                    {
                        console.log(_.get(data, (data.length-1)+'._id'));
                        pageIds.push(_.get(data, (data.length-1)+'._id'));
                    }
                });
            }

            function loadPrevPage()
            {
                if(pageIds.length === 1)
                {
                    return;
                }

                var id = pageIds.pop();
                loadPage(id);
            }

            $('#loadMore a').on('click', function(e)
            {
                e.preventDefault();

                loadNextPage();
            });

            $('#loadLess a').on('click', function(e)
            {
                e.preventDefault();

                loadPrevPage();
            });

            loadNextPage();

        });

    </script-->
    <script type="text/javascript" src="/indexScript.js"></script>
</body>
</html>
