<!DOCTYPE html>
<html>
<head>
<title>L'oubli</title>
<!-- Inclure les fichiers externes-->
<!--<link type="text/css" rel="stylesheet" href="/css/style.css"/>-->
<link href='https://fonts.googleapis.com/css?family=Domine|Montserrat+Alternates|VT323' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Asap:400,700|Amaranth:400,700|Biryani:400,200,700|Jaldi:400,700' rel='stylesheet' type='text/css'>

</head>
<body>
    <ul class="images">
    <% for(var i=0; i < cards.length; i++) { %>
       <li class="image">
           <h4><%= cards[i].name %></h4>
           <p><%= cards[i].phrase %></p>
           <p><img src="/image/<%= cards[i]._id %>" /></p>
       </li>
    <% } %>
    </ul>

    <style type="text/css">
        .images {
            position:static;
            color:#000;
        }

        .images,.image {
            list-style:none;
        }

        .image {
            float:left;
            width:33%;
        }

        img {
            display:block;
            width:100%;
        }
    </style>
</body>
</html>
